<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mongoose Dashboard | Edit Animal</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container text-center">
        <h2>Edit Animal Info</h2>
        <form action="/mongooses/<%= animals.id %>" method="POST">
        <h3>Name: <input type="text" name="name" value="<%= animals.name %>"> </h3>
        <h3>Animal: <input type="text" name="animal" value="<%= animals.animal %>"></h3>
        <button>Submit</button>
        </form>
    </div>
</body>
</html>