<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mongoose Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>
<body>
    <div class="jumbotron text-center">

        <h1>Animal Planet</h1>
    </div>
    <div class="container text-center">

        
        <% for (var i in animals) { %>
           <h4>Name: <%=  animals[i].name %></h4>
            <h4>Animal: <%= animals[i].animal %></h4>
            <p><a href="/mongooses/<%= animals[i].id %>">Check me Out</a></p>
            <hr>
        <% } %>
    </div>
</body>
</html>